In [1]:
import numpy as np
import pandas as pd
from pregel import Vertex , Pregel

In [2]:
# reading the dataset and ensuring it is Integer format
dataset = pd.read_csv('Iron_dealers_data.csv')
dataset['Value'] = dataset['Value'].astype(int)
dataset

        Seller ID  Buyer ID    Value
0            1309      1011  1225513
1            1309      1011  1179061
2            1309      1011  1119561
3            1309      1011  1200934
4            1309      1011  1658957
...           ...       ...      ...
130530       1344      1390   212390
130531       1914      1390    28739
130532       1914      1390    46861
130533       1914      1390    10585
130534       1914      1390    14972

[130535 rows x 3 columns]

In [3]:
# will store pairs of seller and buyer
sell_buy = {}

# for each seller buyer, stores the transaction values
transactions = {}

for row in dataset.iterrows():
    
    row = row[1]

    # if seller has not been seen so far, add it to the dictionary
    if row['Seller ID'] not in sell_buy:
        sell_buy[row['Seller ID']] = []

    sell_buy[row['Seller ID']].append(row['Buyer ID'])

    # if not already present, add the pair to the dictionary
    if (row['Seller ID'], row['Buyer ID']) not in transactions:
        transactions[(row['Seller ID'], row['Buyer ID'])] = []
    
    transactions[(row['Seller ID'], row['Buyer ID'])].append(row['Value'])

# set helps to extract unique values
for key in sell_buy.keys():
    sell_buy[key] = list(set(sell_buy[key]))

In [4]:
# replacing multiple edges with the sum of values of all edges

for key in transactions.keys():
    transactions[key] = sum(transactions[key])

In [13]:
# creating a mapping for all traders involved
sellers = dataset['Seller ID'].to_list()
buyers = dataset['Buyer ID'].to_list()
all_traders = list(set(sellers + buyers))
all_traders.sort()

integer_to_trader = {}
trader_to_integer = {}

for idx , trader in enumerate(all_traders):
    integer_to_trader[idx] = trader
    trader_to_integer[trader] = idx

In [15]:
# reading the bad traders
bad = pd.read_csv('bad.csv')
bad_traders = bad['Bad Id'].to_list()

bad_int_traders = [trader_to_integer[x] for x in bad_traders]