In [ ]:
! pip install gensim
! pip install networkx

In [2]:
import numpy as np
import pandas as pd

In [10]:
dataset = pd.read_csv('Iron_dealers_data.csv')
dataset

        Seller ID  Buyer ID      Value
0            1309      1011  1225513.0
1            1309      1011  1179061.0
2            1309      1011  1119561.0
3            1309      1011  1200934.0
4            1309      1011  1658957.0
...           ...       ...        ...
130530       1344      1390   212390.0
130531       1914      1390    28739.0
130532       1914      1390    46861.0
130533       1914      1390    10585.0
130534       1914      1390    14972.0

[130535 rows x 3 columns]

In [11]:
sell_buy = {}
transactions = {}

for row in dataset.iterrows():
    
    row = row[1]
    
    if row['Seller ID'] not in sell_buy:
        sell_buy[row['Seller ID']] = []

    sell_buy[row['Seller ID']].append(row['Buyer ID'])

    if (row['Seller ID'], row['Buyer ID']) not in transactions:
        transactions[(row['Seller ID'], row['Buyer ID'])] = []
    
    transactions[(row['Seller ID'], row['Buyer ID'])].append(row['Value'])

for key in sell_buy.keys():
    sell_buy[key] = list(set(sell_buy[key]))